@font-face {
    src: url("/sample/res/Cabin-Regular.ttf");
}

.root {
    -fx-font-family: "Cabin";
    -fx-base: #FDFDFD;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.label {
    -fx-font-family: "Cabin";
}

.text{ /*font anti-aliasing workaround*/
    -fx-font-smoothing-type: gray;
}


.list-view .list-cell:even {
    -fx-text-fill: #413E53;
    -fx-font-size: 2em;
}
.list-view .list-cell:odd {
    -fx-text-fill: #413E53;
    -fx-font-size: 2em;
}

.list-cell {
    -fx-background-color: #FFFFFF;
    -fx-padding: 1em;
    -fx-border-width: 3px;
    /*-fx-border-color: #F3F4FB;*/
    -fx-border-color: #e6e8f7;
    -fx-border-radius: 10px;
    -fx-border-insets: 10px 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab {
    -fx-pref-height: 100;
    -fx-min-height: 100;
}
.tab-pane{
    -fx-padding: 0 -1 -1 -1;
    -fx-border-width: 3px;
    -fx-border-color: #e6e8f7;
}